@model MonitoriaMVC.Models.Cliente

@{
    ViewData["Title"] = "Deletar";
}


<h1>Informações Pessoais</h1>

<h3>Id: @Model.ID</h3>
<h4>Nome: @Model.Nome</h4>
<h4>Endereço: @Model.Email</h4>
<h4>Senha: @Model.Senha</h4>
<hr />

<form asp-action="Deletar" method="post">
    <a><button type="submit" class="btn btn-danger" >Deletar</button></a>
    <a asp-action="Index"><button type="button" class="btn btn-dark">Voltar pra index</button></a>
</form>